<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>wekure</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="first" class="display-4">WeKure</h1>
    <h2 id="second" class="lead"> </h2>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/diabetes">Diabetes</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/scoliosis">Scoliosis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


<style>
.parallax {
/* The image used */
background-image: url(https://img.etsystatic.com/il/a37c2b/874893870/il_570xN.874893870_hr6j.jpg?version=0);

/* Set a specific height */
height: 600px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax">
    <div class="title">
    <h1 id="home-title" class="display-1" style="text-align:center;padding-top:100px;">About us</h1>
    <p class="display-5" style="text-align:center;">Meet our team</p>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/37592508_386426268550085_6584776603887206400_n.jpg?_nc_cat=0&oh=33464442573fdaa68b6b499758269c90&oe=5C129F0E" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">Olivia Kris</h5>
      <p class="card-text">Olivia Kris is 15 years old and is going into her junior year of high school. Her hobbies include petting dogs, going on runs, coding, watching FRIENDS over and over again, and petting more dogs. She's diabetic, but is not a certain type, and wants to help others with diabetes, as well. She would like to give a special thanks to Kode with Klossy and everyone involved in it for teaching her how to code and that in computer science, there are endless possibilities. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@oliiviakris</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/29573228_2145933705638453_8226366956339687679_n.jpg?_nc_cat=0&oh=9987a43e9923fad35966e17093806acc&oe=5BD3AB61" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">Samantha Liu</h5>
      <p class="card-text">Sam Liu is a double jointed, wannabe foodie ballerina. An incoming college freshman, she enjoys bingewatching The Ellen Show, dancing on her tippy toes, and eating all the samples at Costco. Sam would like to thank Kode with Klossy for opening her eyes to the world of code during an incredible two weeks of camp. Catch her baking more banana bread and coding late into the night!  </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@samiam896</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12065859_10204729865279198_1250040900559924152_n.jpg?_nc_cat=0&oh=42a9f617b5ca15beb88be5346aaa6212&oe=5BE195A9" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">Shannon Benyamin</h5>
      <p class="card-text">Shannon is 17 years old and is currently attending Santa Monica College. She was diagnosed with scoliosis about two years ago but found that the doctors had a very limited amount of information. She googled her way through many websites and read through many articles and books to find out as much as she can about scoliosis. This ultimately helped her improve her scoliosis and now she wants to share her knowledge with others. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">@shannon.benyamin</small>
    </div>
  </div>
</div>

<style>
.parallax {
/* The image used */
background-image: url(https://renovatingconflict.ca/rc-wp/wp-content/uploads/808817-free-calm-water-wallpaper-1.jpg
);

/* Set a specific height */
height: 400px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

<div class="container">
  <div class="row">
    <div class="col-sm">
          <div class="text-left">
            <div class="body">
              <br>
              <h3 class="title">Contact us</h1>
              <p class="text">Olivia Kris: @oliiviakris; okfishy@gmail.com </p>
              <p class="text">Samantha Liu: @samiam896; samanthaliu19@gmail.com</p>
              <p class="text">Shannon Benyamin: @shannon.benyamin; shannonbenyamin@gmail.com</p>
              <br>
            </div>
          </div>
    </div> 
    <div class="col-sm">
        <div class="text-center">
          <div class="body">
            <br>
            <h3 class="title">Klossywood 2018</h1>
            <p class="text">A Kode with Klossy Web Application</p>
            <p class="text">#KODEWITHKLOSSY</p>
            <br>
          </div>
        </div>
    </div>
  </div>
</div>
  
  </body>
</html>








