<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>wekure</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="first" class="display-4">WeKure</h1>
    <h2 id="second" class="lead"> </h2>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/diabetes">Diabetes</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/scoliosis">Scoliosis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


<style>
.parallax {
/* The image used */
background-image: url(https://img.etsystatic.com/il/a37c2b/874893870/il_570xN.874893870_hr6j.jpg?version=0);

/* Set a specific height */
height: 600px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax">
    <div class="title">
    <h1 id="home-title" class="display-1" style="text-align:center;padding-top:70px;">Diabetes</h1>
    <p class="display-5" style="text-align:center;">About 193,000 Americans under 20 have diagnosed diabetes.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6">Enter your blood sugar in our handy dandy magic box for advice on what to do next!</h1>
    <a href="/quiz"><strong>Enter your blood sugar here :)</strong></a>
  </div>
</div>


<div class="container">
    <head>
        <title>Diabetes</title>
    </head>
    <body>
        <!--<br>-->
        <!--<h1>Enter your blood sugar in our handy dandy magic box for advice on what to do next!</h1>-->
        <!--<a href="/quiz"><strong>Take our quiz or it will be awko taco :)</strong></a>.-->
        <br>
        <h1>What is diabetes exactly?</h1>
        <p>Diabetes is defined by Google as a disease in which the body’s ability to produce or respond to the hormone insulin is impaired, resulting in abnormal metabolism of carbohydrates and elevated levels of glucose in the blood and urine. So basically, it can be diagnosed when your blood sugars are too abnormal to be considered healthy. Don’t freak out though!! It’ll be okay, I promise. It’s really good that if you have this, you found out sooner rather than later. There is no cure. This is going to be a huge life adjustment, especially if you’re a teen because of puberty and all that good stuff causing higher blood sugars. The purpose of this website though isn’t to scare you because trust me, I’ve been there. I’m here to provide you guys with somewhere you can look at for resources, from someone who is currently going through this as a teen, so jump on in, and I’ll try to be as helpful as I can!!</p>
        <br>
        <h1>Prediabetes vs Type 1 vs Type 2 vs Not a Certain Type</h1>
        <p>Prediabetes- a condition in which blood sugar is high, but not high enough to be type 2 diabetes</p>
        <br>
        <p>Type 1- a chronic condition in which the pancreas produces little to no insulin</p>
        <br>
        <p>Type 2- a chronic condition that affects the way the body processes blood sugar</p>
        <br>
        <p>Not a Certain Type- a condition that has the unoffical term "Type 1.5", but is treated mainly as type 1 is treated</p>
        <br>
        <h1>What are the symptoms of high and low blood sugar?</h1>
        <p>High blood sugar has symptoms of blurry vision, frequent urination, fatigue, extreme thirst and hunger, trouble concentrating, and weight loss. Low blood sugar has symptoms of excess sweating, confusion, dizziness, shakiness, drowsiness, irritability, and anxiety.</p>
        <br>
        <h1>So I got diagnosed with diabetes...what happens now?</h1>
        <p>For starters, you will have to count your carbs and look at nutrition facts more often. Carbs are the body's main source of energy and are converted to glucose, so loweering your carb intake lowers your blood sugar. A common misconception is that to treat diabetes, you need to cut out certain foods. That's totally false! You can eat any food you ate before, just in a smaller portion size, so you can still eat ice cream, but eat an amount where the carbs in the ice cream do not go over your remaining carbs. You will also have to prick those fingers a lot more to test the blood sugars and ensure that everything is okay. You will have to become more active, so if you do sports, great! Otherwise, try to be active and if you need workout ideas, go to our exercise page! You may have to take medication, depending on the severity of your diabetes, which can include oral medication or insulin injections. Don't worry, it's really not as bad as it sounds! Insulin barely hurts and very rarely do you feel a really high level of pain, just be mindful of where you inject. Iknow needles aren't everyone's thing, but pricking your finger and taking your medicine, if you need to, are essential to staying healthy. You may be anxious about your blood sugar, and I totally get that, but it'll get better, I promise :)</p>
        <br>
        <h1>If I don't take care of my diabetes, what will happen?</h1>
        <p>Well, a lot of things. You will have a higher risk of a heart attack and other cardiovascular issues, your eyesight will be impaired, severe nerve damage can happen to your feet, and in extreme cases, you can fall into a coma. Don’t panic though. These risks are lowered as soon as you start managing and taking care of it. It’s overwhelming to try and change everything as a teen or deal with it as a teen, but it’s 100% worth it to do everything your endocrinologist, your diabetes doctor, tells you.</p>
        <br>
        <h1>I usually count my carbs, but am I allowed to go over the limit sometimes?</h1>
        <p>This all depends on what your doctor tells you, but once in a while, it is okay. Not too often, though. Just don’t go overboard or else you might cause too much damage to your blood sugar. Try your best to keep a count to ensure you don’t overdo it. You’re still diabetic and health comes before overeating too much.</p>
        <br>
        <h1>If I’m diabetic, what do I tell people in case of a diabetic emergency?</h1>
        <p>Tell them as many details as you can, such as what medications you take, where your supplies are, how to tell the difference between high and low sugar, your symptoms, and what to do in each situation. You might not want to talk about it with other people, but they need to know becuase this is important so that if an emergency arises, they will know what to do. </p> 
        <br>
        <h1>Which celebrities have diabetes?</h1>
        <p>Lots of celebrities do, such as Nick Jonas, Este Haim, Halle Berry, Tom Hanks, Larry King, Salma Hayek, Paula Deen, Randy Jackson, Billie Jean King, and many more! So anyone can have it!</p>
        <br>
        <h1>So...diabetes seems super negative. Are there any positives about having this?</h1>
        <p>Yeah, diabetes sucks. However, once you take care of it, your pain tolerance will be much higher because of the needles, you will have a healthy diet and your body will thank you for that later, your risk of heart attacks and other serious side effects are lowered which is AMAZING,you’ll feel overall better if the symptoms of diabetes are relieved, and honestly, you’re a badass for dealing with this. Seriously, you rock. Dealing with diabetes isn’t great, but you’re a rockstar for doing it. So proud of youuuuu!! One last thing, YOU GOT THIS!! YOU CAN DO IT!! FROM ALL OF US AT WEKURE, WE SUPPORT YOU!!</p>
        <br>
        <h1>RESTAURANTS</h1>
        <h2>Who doesn't love low-carb AND tasty food?</h2>
        <p>DISCLAIMER: Right now, we are only in the los angeles area and are recommending restaurants on those area, sorry!</p>
        <p>All of these great restaurants have nutrition facts online, CAVA has a nutritional calculator on their website, which is probably one of the best things I’ve seen a build-your-own plate restaurant do for diabetics!</p>
        <br>
        <h1>CAVA</h1>
        <p>A mediterranean themed build-your-own plate restaurant that has a multitude of options to fit your personal taste!</p>
        <h2>Find a CAVA near you</h2>
        <a href="http://cava.com/locations">CAVA Near Me</a>
        <h2>Nutrition Facts</h2>
        <a href="http://cava.com/menu/nutrition">CAVA Nutrition Facts</a>
        <p></p>
        <br>
        <h1>TenderGreens</h1>
        <p>An American themed restaurant with healthy options perfect for everyone!</p>
        <p1>**I recommend the Backyard Steak Plate with the arugula salad and roasted vegetables, it’s soooooo good</p1>
        <p></p>
        <br>
        <h2>Find a TenderGreens near you</h2>
        <a href="https://www.tendergreens.com/locations">TenderGreens Near Me</a>
        <h2>Nutrition Facts</h2>
        <a href="http://www.tendergreensfood.com/files/Nutritional%20Card_1.2.16_01435.pdf">TenderGreens Nutrition Facts</a>
        <p></p>
        <br>
        <h1>CPK</h1>
        <p>It stands for “California Pizza Kitchen”, and is an American themed restaurant with a few low carb options
        <p1>**I recommend a half turkey club with a side caesar salad or the chicken milanese</p1>
        <h2>Find a CPK near you</h2>
        <a href="https://locations.cpk.com">CPK Near Me</a>
        <h2>Nutrition Facts</h2>
        <a href="https://www.cpk.com/Contents/Downloads/Nutrition-Allergen-NYC.pdf?2">CPK Nutrition Facts</a>
        <p></p>
        <br>
        <h1>The Counter</h1>
        <p>A burger restaurant which allows you to order what they have on the menu and have a build-your-own burger option, which I recommend more!</p>
        <h2>Find The Counter near you</h2>
        <<a href="https://www.thecounter.com/locator/index.php?brand=cb&mode=desktop&pagesize=5&latitude=&longitude=&q=">The Counter Near Me</a>
        <h2>Nutrition Facts</h2>
        <a href="http://m.nutritionix.com/the-counter/menu/premium">The Counter Nutrition Facts</a>
        <p></p>
        <br>
        <h1>RECIPES</h1>
        <a href="https://www.foodnetwork.com/topics/diabetes-friendly">Food Network's List of Low-Carb Recipes</a>
        <br>
        <a href="https://minimalistbaker.com/sweet-potato-chickpea-buddha-bowl/">Salad Bowl</a>
        <p>^^this one you can just use less sweet potato for low carbs</p>
        <br>
        <h1>EXERCISES</h1>
        <p>Welcome to the exercise page for all my fellow diabetics out there looking for a good exercise to lower that blood sugar!! All exercises belong to their respective companies, we are not in any way taking credit for these, just trying to help teens with chronic disorders.</p>
        <br>
        <h2>If you want to do a video with lots of options as to various intensities, time frames, and difficulty…</h2>
        <p>Fitness Blender is the way to go! Their exercises vary a lot and they’ve helped me lower my blood sugars a lot. Plus they promote eating real food with recipes they have tutorials on, no protein powders or artificial food, which is also good for your diabetes. Here’s a link to their channel!</p>
        <a href="https://www.youtube.com/fitnessblender">Fitness Blender's YouTube Channel</a>
        <p></p>
        <br>
        <h2>If you prefer going outside and exercising…</h2>
        <p>Go for a run around your neighborhood and put in some headphones for entertainment! It is recommended to be active for 20-30 minutes a day, so you’ll feel healthier and your blood sugar will be better!</h2>
           You can also briskly walk, hills are recommended, but not mandatory at all! Make sure you walk for at least 25 minutes!
           Find a hiking spot near you and go hiking with some friends, family, or alone! Here’s a link to where you can find a hiking spot near you :)</p>
        <a href="https://www.alltrails.com">Hiking Spots Near Me</a>
        <p></p>
        <br>
        <h2>If you prefer going to a gym…</h2>
        <p>We got you! Here’s a link to 24 hour fitnesses in your area, or research where you can sign up!</p>
        <a href="https://www.24hourfitness.com/health_clubs/find-a-gym/">24 hour Fitness Map</a>
        <p></p>
        <br>
        <h2>If you prefer a workout routine…</h2>
        <p>Here’s one I’ve done so many times!</p>
        <p1>Cardio:
            <br>
            5 mins warm up at a low speed, get those muscles flowing
            <br>
            2 mins intense and high speed running
            <br>
            2 mins interval, at same speed as warm up
            <br>
            2 mins high
            <br>
            2 mins low
            <br>
            2 mins high 
            <br>
            2 mins low
            <br>
            2 mins high
            <br>
            1-2 min cooldown 
            <br>
            Abs:
            <br>
            45 secs each, 15 secs between, repeat twice
            <br>
            Bicycle crunches
            <br>
            Mountain climbers
            <br>
            Jackknife
            <br>
            Plank
            <br>
            Russian twists</p1>
          <p></p>
          <br>
          <h2>If you don’t like this one...</h2>
          <p>Here's a link to some more exercises!</p>
          <a href="https://www.livestrong.com/article/331331-the-best-cardio-workouts-for-abs/">More Exercises</a>
          <p></p>
          <br>
          <h1>SUPPORT</h1>
          <h2>Some support groups because everyone needs a little love</h2>
          <p1>In my community</p1>
          <br>
          <a href="http://www.diabetes.org/in-my-community/local-offices/">Support in your Community</a>
          <br>
          <p1>Cedar Sinai</p1>
          <br>
          <a href="https://www.cedars-sinai.edu/Patients/Programs-and-Services/Endocrinology/Diabetes-Center/PatientGuide/Support-Group.aspx">Cedar Sinai Support Group</a>
          <p></p>
          <br>
          <h1>DONATE</h1>
          <h2>Help diabetics everywhere by donating to find a cure!</h2>
          <h3>Donate to the American Association of Diabetes</h3>
          <a href="https://donations.diabetes.org/site/Donation2;jsessionid=00000000.app234b?df_id=19705&mfc_pref=T&19705.donation=form1&s_src=dorg&s_subsrc=donatebutton&NONCE_TOKEN=4D731D175A9404167910D1BB91CD17D1">Donate here!</a>
          <p></p>
          <br>
    </body>
</div>
<style>
.parallax {
/* The image used */
background-image: url(https://renovatingconflict.ca/rc-wp/wp-content/uploads/808817-free-calm-water-wallpaper-1.jpg
);

/* Set a specific height */
height: 300px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

<div class="container">
  <div class="row">
    <div class="col-sm">
          <div class="text-left">
            <div class="body">
              <br>
              <h3 class="title">Contact us</h1>
              <p class="text">Olivia Kris: @oliiviakris; okfishy@gmail.com </p>
              <p class="text">Samantha Liu: @samiam896; samanthaliu19@gmail.com</p>
              <p class="text">Shannon Benyamin: @shannon.benyamin; shannonbenyamin@gmail.com</p>
              <br>
            </div>
          </div>
    </div> 
    <div class="col-sm">
        <div class="text-center">
          <div class="body">
            <br>
            <h3 class="title">Klossywood 2018</h1>
            <p class="text">A Kode with Klossy Web Application</p>
            <p class="text">#KODEWITHKLOSSY</p>
            <br>
          </div>
        </div>
    </div>
  </div>
</div>
  
  </body>
</html>