<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>wekure</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="first" class="display-4">WeKure</h1>
    <h2 id="second" class="lead"> </h2>
</div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diabetes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">What is diabetes</a>
          <a class="dropdown-item" href="#">Exercises</a>
          <a class="dropdown-item" href="#">Restaurants and recipes</a>
          <a class="dropdown-item" href="#">Support</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Scoliosis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">What is scoliosis</a>
          <a class="dropdown-item" href="#">Exercises</a>
          <a class="dropdown-item" href="#">Support</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mental Disorders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Types of mental disorders</a>
          <a class="dropdown-item" href="#">Support</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>

<style>
.parallax {
/* The image used */
background-image: url(https://img.etsystatic.com/il/a37c2b/874893870/il_570xN.874893870_hr6j.jpg?version=0);

/* Set a specific height */
height: 100px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

<div class="container">
  <title>EXERCISES</title>
  <h2>Welcome to the exercise page for all my fellow diabetics out there looking for a good exercise to lower that blood sugar!! All exercises belong to their respective companies, we are not in any way taking credit for these, just trying to help teens with chronic disorders.</h2>
  <h1>If you want to do a video with lots of options as to various intensities, time frames, and difficulty…
Fitness Blender is the way to go! Their exercises vary a lot and they’ve helped me lower my blood sugars a lot. Plus they promote eating real food with recipes they have tutorials on, no protein powders or artificial food, which is also good for your diabetes. So, here is a link to their channel!</h2>
  <h2><a href="https://www.youtube.com/fitnessblender"></a></h2>
  <h1>If you prefer going outside and exercising…</h2>
  <h2>Go for a run around your neighborhood and put in some headphones for entertainment! It is recommended to be active for 20-30 minutes a day, so you’ll feel healthier and your blood sugar will be better!</h2>
  <h2>You can also briskly walk, hills are recommended, but not mandatory at all! Make sure you walk for at least 25 minutes!</h2>
  <h2>Find a hiking spot near you and go hiking with some friends, family, or alone! Here’s a link to where you can find a hiking spot near you :)</h2>
  <a href="https://www.alltrails.com"></a>
  <h1>If you prefer going to a gym…</h2>
  <h2>We got you! Here’s a link to 24 hour fitnesses in your area, or research where you can sign up!</h2>
  <a href="https://www.24hourfitness.com/health_clubs/find-a-gym/"></a>
  <h1>If you prefer a workout routine…</h2>
  <h2>Here’s one I’ve done so many times!
      Cardio:
      Jogging:
      5 mins warm up at a low speed, get those muscles flowing
      2 mins intense and high speed running
      2 mins interval, at same speed as warm up
      2 mins high intense and high speed running
      2 mins interval, at same speed as warm up
      2 mins high intense and high speed running
      2 mins interval, at same speed as warm up
      2 mins high intense and high speed running
      1-3 min cooldown interval, at same speed as warm up

      Abs:
      45 secs each, 15 secs between, repeat twice
      Bicycle crunches
      Mountain climbers
      Jackknife
      Plank
      Russian twists</h2>
      <h1>If you don’t like this one, here’s a link to some more exercises!</h2>
      <a href="https://www.livestrong.com/article/331331-the-best-cardio-workouts-for-abs/"></a>
      <h2>HAPPY EXERCISING :)))))))))</h2>

  
</div>


<style>
.parallax {
/* The image used */
background-image: url(https://renovatingconflict.ca/rc-wp/wp-content/uploads/808817-free-calm-water-wallpaper-1.jpg
);

/* Set a specific height */
height: 300px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>







