<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>wekure</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="first" class="display-4">WeKure</h1>
    <h2 id="second" class="lead"> </h2>
</div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diabetes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">What is diabetes</a>
          <a class="dropdown-item" href="#">Exercises</a>
          <a class="dropdown-item" href="#">Restaurants and recipes</a>
          <a class="dropdown-item" href="#">Support</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Scoliosis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">What is scoliosis</a>
          <a class="dropdown-item" href="#">Exercises</a>
          <a class="dropdown-item" href="#">Support</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mental Disorders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Types of mental disorders</a>
          <a class="dropdown-item" href="#">Support</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>

<style>
.parallax {
/* The image used */
background-image: url(https://img.etsystatic.com/il/a37c2b/874893870/il_570xN.874893870_hr6j.jpg?version=0);

/* Set a specific height */
height: 100px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

<div class="container">
     <title>RESTAURANTS AND RECIPES</title>
     <h2>Who doesn't love food though</h2>
     <h1>Restaurants</h1>
     <h2>DISCLAIMER: Right now, we are only in the los angeles area and are recommending restaurants on those area, sorry!</h2>
     <h2>All of these great restaurants have nutrition facts online, CAVA has a nutritional calculator on their website, which is probably one of the best things I’ve seen a build-your-own plate restaurant do for diabetics!</h2>
     <h1>CAVA</h1>
     <h2>A mediterranean themed build-your-own plate restaurant that has a multitude of options to fit your personal taste!</h2>
     <h2>Find a CAVA near you!</h2>
     <a href="http://cava.com/locations"></a>
     <h2>Nutrition Facts</h2>
     <a href="http://cava.com/menu/nutrition"></a>
     <h2>TenderGreens</h2>
     <h2>An American themed restaurant with healthy options perfect for everyone! **I recommend the Backyard Steak Plate with the arugula salad and roasted vegetables, it’s soooooo good</h2>
     <h2>Find a TenderGreens near you!</h2>
     <a href="https://www.tendergreens.com/locations"></a>
     <h2>Nutrition Facts</h2>
     <a href="http://www.tendergreensfood.com/files/Nutritional%20Card_1.2.16_01435.pdf"></a>
     <h2>CPK</h2>
     <h2>It stands for “California Pizza Kitchen”, and is an American themed restaurant with a few low carb options
         **I recommend a half turkey club with a side caesar salad or the chicken milanese</h2>
     <h2>Find a CPK near you!</h2>
     <a href="https://locations.cpk.com"></a>
     <h2>Nutrition Facts</h2>
     <a href="https://www.cpk.com/Contents/Downloads/Nutrition-Allergen-NYC.pdf?2"></a>
     <h2>Scroll down after the first page</h2>
     <h2>The Counter</h2>
     <h2>A burger restaurant which allows you to order what they have on the menu and have a build-your-own burger option, which I recommend more!</h2>
     <h2>Find The Counter near you!</h2>
     <a href="https://www.thecounter.com/locator/index.php?brand=cb&mode=desktop&pagesize=5&latitude=&longitude=&q="></a>
     <h2>Nutrition Facts</h2>
     <a href="http://m.nutritionix.com/the-counter/menu/premium"></a>
     <h1>Recipes</h1>\
     <a href="https://www.foodnetwork.com/topics/diabetes-friendly"></a>
     <a href="https://minimalistbaker.com/sweet-potato-chickpea-buddha-bowl/"></a>
     <h2>^^this one you can just use less sweet potato for low carbs</h2>
</div>


<style>
.parallax {
/* The image used */
background-image: url(https://renovatingconflict.ca/rc-wp/wp-content/uploads/808817-free-calm-water-wallpaper-1.jpg
);

/* Set a specific height */
height: 300px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>









