<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>wekure</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="first" class="display-4">WeKure</h1>
    <h2 id="second" class="lead"> </h2>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/diabetes">Diabetes</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/scoliosis">Scoliosis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


<style>
.parallax {
/* The image used */
background-image: url(https://img.etsystatic.com/il/a37c2b/874893870/il_570xN.874893870_hr6j.jpg?version=0);

/* Set a specific height */
height: 600px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <head>
        <title>My quiz</title>
    </head>
    <h1 class="title">What to do</h1>
    <br>
    <body>
        <% if 200 <= @answer && @answer < 300 %>
            <p>Reduce your carb intake, usually this is by around 15 grams less, but contact your doctor just in case</p>
            <p>Drink water to flush any excess sugar out of your system to prevent diabetic ketoacidosis, which could be dangerous if left untreated</p>
            <p>Incorporate more exercise the next day and try to be more active</p>
            <p>Contact your doctor to see if there maybe needs to be an increase in a medication you are taking, not necessarily bad or going in the wrong direction, so don't get discouraged!</p>
            <p>If you have a virus, are sick, or have had hormonal changes this exaplins the high blood sugar, be sure to explain any causes you might think of to your doctor</p>
            <p>Measure more frequently if this continues for more than two days</p>
        <% elsif 300 <= @answer && @answer <400 %>
            <p>Contact your doctor right away and ask what to do in terms of medication or how to lower it besides just looking at this page</p>
            <p>Drink water to flush excess sugar out of your system and decrease the risk of diabetic ketoacidosis</p>
            <p>Reduce your carb intake, usually this is by about 15 grams less, but contact your doctor just in case</p>
            <p>DO NOT EXERCISE!! IT MAY RAISE IT EVEN MORE!!</p>
            <p>Explain any causes of high blood sugar to your doctor and be as specific as possible</p>
        <% elsif @answer >= 400 %>
            <p>CONTACT YOUR DOCTOR RIGHT AWAY!!</p>
            <p>You will most likely have to go to the emergency room, especially if your blood sugar number is over 500</p>
            <p>The doctors at the hospital and your own doctor will tell you what to do in greater detail, but do not freak out, just make your way to the hospital</p>
        <% elsif @answer < 70 %>
            <p>You are experiencing an episode of hypoglycemia, or low blood sugar, which is common with diabetics, so don't be scared, this is common and not a big deal, as long as you are able to treat it on your own and easily</p>
            <p>You may feel irritated, shaky, have a headache, hungry, and confusion</p>
            <p>Eat something for at least 15-20 carbs and see if you feel better</p>
            <p>If the symptons do not go away, keep measuring, and if you are eating and the blood sugar keeps falling, either contact your doctor or go to the emergency room</p>
        <% elsif 180 <= @answer && @answer < 200 %>
            <p>This is not a drastically high level, so don't worry</p>
            <p>Your blood sugar is a bit elevated, but no large changes need to be made yet</p>
            <p>Keep measuring as you go on over the next few days and if the blood sugar continues to grow, then contact your doctor</p>
            <p>You can try lowering your carb intake and drinking more water if it does not fall</p>
        <% else %>
            <p>Everything is perfectly fine!</p>
            <p>Good job for taking care of it!</p>
            <p>No changes need to be made, so keep doing what you're doing</p>
        <% end %>
  </div>
</div>


<style>
.parallax {
/* The image used */
background-image: url(https://renovatingconflict.ca/rc-wp/wp-content/uploads/808817-free-calm-water-wallpaper-1.jpg
);

/* Set a specific height */
height: 100px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

<div class="container">
  <div class="row">
    <div class="col-sm">
          <div class="text-left">
            <div class="body">
              <br>
              <h3 class="title">Contact us</h1>
              <p class="text">Olivia Kris: @oliiviakris; okfishy@gmail.com </p>
              <p class="text">Samantha Liu: @samiam896; samanthaliu19@gmail.com</p>
              <p class="text">Shannon Benyamin: @shannon.benyamin; shannonbenyamin@gmail.com</p>
              <br>
            </div>
          </div>
    </div> 
    <div class="col-sm">
        <div class="text-center">
          <div class="body">
            <br>
            <h3 class="title">Klossywood 2018</h1>
            <p class="text">A Kode with Klossy Web Application</p>
            <p class="text">#KODEWITHKLOSSY</p>
            <br>
          </div>
        </div>
    </div>
  </div>
</div>
  
  </body>
</html>