<<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>wekure</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <h1 id="first" class="display-4">WeKure</h1>
    <h2 id="second" class="lead"> </h2>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   
      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/diabetes">Diabetes</a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="/scoliosis">Scoliosis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


<style>
.parallax {
/* The image used */
background-image: url(https://img.etsystatic.com/il/a37c2b/874893870/il_570xN.874893870_hr6j.jpg?version=0);

/* Set a specific height */
height: 600px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax">
    <div class="title">
    <h1 id="home-title" class="display-1" style="text-align:center;padding-top:70px;">Scoliosis</h1>
    <p class="display-5" style="text-align:center;">Scoliosis is the most common spinal deformity in school-age children.</p>
    </div>
</div>

<div class="container">
<br>
<h1>What is Scoliosis?</h1>
<p>
    Scoliosis is an abnormal curvature of the spine. Scoliosis can develop in infancy or early childhood. 
    However, the primary age of onset for scoliosis is 10-15 years old, occurring equally among both genders. 
    However, females are eight times more likely to progress to a curve magnitude that requires treatment.
    Scoliosis affects 2-3 percent of the population, or an estimated six to nine million people in the United States. 
    Scoliosis can develop in infancy or early childhood. 
    However, the primary age of onset for scoliosis is 10-15 years old, occurring equally among both genders. 
    Females are eight times more likely to progress to a curve magnitude that requires treatment. 
    Every year, scoliosis patients make more than 600,000 visits to private physician offices,
    an estimated 30,000 children are fitted with a brace and 38,000 patients undergo spinal fusion surgery.
</p>
<br>
<h1>What causes Scoliosis?</h1>
<p>The cause of scoliosis is known to be genetics however 80% of cases of scoliosis are diagnosed as idiopathic scoliosis meaning the cause is unknown. 
Because the exact causes are not known there is no way to prevent scoliosis so you should keep an eye out for signs like uneven shoulders, uneven hips, muscle spasms, physical deformity, and uneven waist. 
Scoliosis shows up most often during growth spurts, usually when kids are between 10 and 15 years old. </p>
<br>
<h1>What To Do After Being Diagnosed With Scoliosis</h1>
<br>
<h3>1. Get a Second Opinion</h3>
<p>One of the most important things to do when getting diagnosed with scoliosis is to make sure you get a second opinion and see another doctor as there is a chance of being misdiagnosed. 
This might be something like the doctor telling you that you have a curvature of 70 degrees which would mean you need surgery when you may actually have a less severe curvature that wouldn't require the major
surgery.
</p>
<h3>2. Don't Make Impulsive Decesions </h3>
<p>Once you’ve found a team you trust, you don’t want to rush into any decisions, especially about big procedures like spinal fusion surgery. 
When faced with an uncertain medical condition, many people have a strong impulse to do something as soon as possible. 
Unfortunately, rash action is rarely the best action. 
In an overwhelming majority of scoliosis cases, there is not an immediate and serious risk to the patient’s health. 
As such, you should take a bit of time to learn more about your specific curve and the treatment options available to you.
Although there are some cases that are high risk and I don’t recommend waiting more than a few weeks to move forward.
More likely than not, the most dramatic course of action will not be your best option.
For mild and moderate curves, surgery should be an absolute last resort (if your doctor tells you otherwise, find a new doctor!).
It’s an expensive, invasive procedure, and it has low rates of success 20 years post-op. 
Intensive, focused noninvasive treatment has a much better track record of success when it comes to controlling scoliosis.
Make sure you’ve explored every option before making any decisions – especially about invasive surgeries.</p>
<h3>3. Ask Questions!</h3>
<p>When you start developing a treatment plan, you should being to ask your non invasive scoliosis treatment doctor about what positive lifestyle changes you can begin making right away.
You should also note that when something happens in the spine, it affects – and is affected by – the brain, the central nervous system, and even the digestive system. 
Integrative doctors no longer view spinal problems as isolated problems; they have to be treated comprehensively.</p>
<br>
<h3>4. Make Positive Lifestyle Changes on Your Own</h3>
<p>Even before you choose what type of treatment you want to seek, you should start making positive changes that will improve your odds of controlling your scoliosis. 
Eating a balanced-diet- especially one rich in amino acids (which the body converts to neurotransmitters)-- will not only keep your major systems healthy, but will improve the communication between your brain and the rest of your body. 
Research suggests that a lack of neurotransmitters balance, which function as the body’s traffic guards, might lead to miscommunications between the brain and the muscles around the spine, contributing to scoliosis.
You can get a jump on your treatment by correcting your body’s neurotransmitters imbalances and clearing the communication pathways between your brain and back.
</p>
<p> Many people think you can’t exercise if you’ve been diagnosed with scoliosis, but the truth is it’s the opposite- if you have scoliosis, you should definitely be exercising.
This is to make sure your muscles are loose.
Scoliosis tends to overwork certain muscles and underwork others which causes muscles near the curve to become tight.
This can cause you to feel pain or weak. 
You can combat this by staying active, unless your doctor explicitly tells you otherwise.</p>
<p>Lastly, if you’re a smoker, you shout quit- for many reasons, but also because smoking has been linked to back and spine problems.
Making these minor lifestyle changes will improve the success rate of whatever treatment option you ultimately choose.  </p>
<br>
<h1>Things to avoid doing with scoliosis</h1>
<p>You will want to avoid doing certain things with scoliosis in order to prevent the curvature from getting worse. 
Sports are generally okay to play if you have scoliosis, as long as you are mindful about reducing activities that place excessive stress on the spine.
While playing sports doesn’t cause scoliosis, certain repetitive or high-risk activities can aggravate the curvature. 
For example, many sports are fine to play recreationally but aren't recommended at the competitive level because of the hours of repetition involved in competitive training. 
You will most likely not need to entirely quit playing a sport. However, young athletes should limit taking part in activities that:</p>
<ul>
  <li>Compress the spine. This occurs when you take a step,jump, or run. 
  Repeatedly participating in high-impact activities puts significant stress on the spine and can aggravate scoliosis over time.
  This includes sports such as football as well as sports that involve squatting, lifting weight over the head, hard landings (cheerleading, gymnastics) , long distance running (more than 400 meters). 
</li>
<li>Hyperextend the mid back. Of young athletes who have scoliosis, “the highest rates are observed among dancers, gymnasts and swimmers,” the New York Times says. 
Repeatedly extending the thoracic spine (upper back)--  in a backbend, for example causes the vertebrae to rotate further into the hollow of the scoliosis curve, which can often start rapid progression. 
You should try to limit backbends and use modified poses when engaging in: 
ballet,gymnastics,and yoga.
</li>
  </ul>
  <p>You will also want to avoid anything that unevenly works the spine. 
  Researchers have reported a higher risk of scoliosis progression in “young athletes who engage actively in sports that put an uneven load on the spine,” says the New York Times.
  These include sports that work one side of the body more than the other, such as:</p>
  <ul>
    <li>Figure Skating</li>
    <li>Tennis</li>
    <li>Skiing</li>
    <li>Javelin Throwing</li>
  </ul>
  <p>In spite all of this it is critical to stay active and keep your body strong so that you can support your body.</p>
  <br>
  <h3> Things that May Help Scoliosis</h3>
  <p>Sports and exercises that require using both sides of the body are especially important to keep the whole body strong,” says the Children’s Hospital of Wisconsin.
  In general, low-impact activities that don’t jolt the spine are safest, and short-term, high-intensity exercise-- is usually recommended over endurance training.
  Sports that generally help support the spine include: </p>
  <ul>
    <li>Swimming. Swimming is highly recommended because it helps to strengthen the spine in an almost weightless environment.
    It also uses more muscles, and in a more balanced and symmetrical fashion, than any other sport.
    But you should be careful about competitive swimming for those with thoracic scoliosis. 
    Swimming laps for hours every day can cause the  thoracic spine to flatten, which could propel curve progression.</li>
    <li>Cycling. Cycling is another low-impact sport that is a great cardiovascular workout without aggravating scoliosis.
    However, you will want to limit off-road cycling as this high-impact jolting can compress the spine.</li>
    <li>Soccer.Soccer can be above all beneficial for athletes with a curvature in the mid back.
    Soccer allows you to make your core muscles stronger which in return puts less pressure on your back.</li>
    <li>Cross-country skiingGliding-type activities such as cross-country skiing are often recommended for scoliosis patients because they minimize shock to the vertebrae. 
    Cross-country skiing also works both sides of the body, which is helpful for supporting a strong and balanced spine.</li>
    <li>Strength Training. Building strength is critical for anyone with spinal problems, as stronger muscles are better able to support the spine. 
    However, it’s important to do it properly. “You have to increase the weight very slowly to avoid added stress to your spine, which would cause the spine to get worse,” Siddiqui said. 
    Avoid repeatedly squatting or lifting weights above the head, which can cause spinal compression.</li>
    <li>Stretching. Flexibility training is one of the most important things you can do for scoliosis.
    Regular stretching relieves tension and helps restore range of motion; if done strategically, it can help counteract the spine’s curvature. 
    Just be aware of which stretches aren’t necessarily safe exercises for scoliosis. 
    When practicing yoga, for example, use modified poses in place of those that hyperextend or severely rotate the spine.</li>
  </ul>
  <p> Another great exercise that may really help according to a study conducted by  Dr. Loren Fishman and the Columbia College of Physicians and Surgeons in New York City is the side plank. 
  The study was run by telling each participant to hold the posture on the convex of their spine-- the side that is rounded outward--daily and for as long as possible. 
  According to the study, this averaged about 1.5 minutes a day for 6.1 days a week. 
  For 19 of the 25, the reduction of the curvature was 40.9%. 
  This is a pretty significant amount and should be encourage you to try it. 
  Make sure that you do the side plank on the convex side only because doing a side plank on both sides will negate the therapeutic effects. 
  </p>
  <h3>Celebrities With Scoliosis</h3>
  <p>I know that many people feel like they are the only person with scoliosis but chances are that there are people you know who have scoliosis but are too afraid to tell others.There are also many successful people who have scoliosis these include: </p>
  <ul>
    <li><b>Usain Bolt</b></li>
    <p>Eight-time Olympic gold medalist, Usain Bolt has scoliosis but he is also a world record holder in the 100 metres, 200 metres and 4 × 100 metres relay.</p>
    <img src="https://assets1.sportsnet.ca/wp-content/uploads/2018/07/Usain-Bolt-signature-pose-1040x572.jpg"> 
    <li><b>Martha Hunt</b></li>
    <p>She's walked more than 180 fashion shows and is most widely known for being a Victoria's Secret Angel.
    Hunt recieved spinal fusion surgery for her scoliosis that left her with a scar down her back, but as you know it didn't stop her! 
    I recommend following her on twitter or instagram to see what she shares about her scoliosis treatment. She doesn't shy away from the fact that she has scoliosis and instead fully embraces it! I hope you do the same!</p>
    <img src="http://pluma-italia.net/wp-content/uploads/2017/07/martha_hunt_surgery_scar.jpg"> 
    <li><b>Shailene Woodley</b></li>
    <p>Best known for being in movies like Divergent, The Fault in Our Stars, and most recently Adrift. She, like many others had to wear a brace for two years</p>
    <img src="http://spiralspine.com/assets/2015/03/SW.png"> 
    <li><b>Princess Eugenie</b></li>
    <p>Princess Eugenie of York is a member of the British royal family. 
    She is the younger daughter of Prince Andrew, Duke of York, and Sarah, Duchess of York. 
    She underwent back surgery at the Royal National Orthopaedic Hospital in London to correct her scoliosis and has recently opened up more about her surgery</p>
    <img src="http://www2.pictures.zimbio.com/gi/Princess+Eugenie+Princess+Eugenie+Visits+Orthopaedic+TDlRrdkxdHil.jpg"> 
  </ul>
  <h3>Links to More Stretches!</h3>
  <a href="https://www.treatingscoliosis.com/blog/10-stretches-to-help-alleviate-scoliosis-pain/">10 Stretches to Help Alleviate Scoliosis Pain</a>
  <p><a href="https://www.treatingscoliosis.com/blog/8-scoliosis-workout-exercises-can-try-home/">8 Scoliosis Workout Exercises You Can Try at Home</a></p>
  <h1>Helpful Videos!</h1>
  <h3>Yoga For Scoliosis</h3> <div id="wrapper"></div><iframe width="560" height="315" src="https://www.youtube.com/embed/X0Lro_RoeCc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h3> Exercises to Loosen Up a Tight Lower Back</h3><p><iframe width="560" height="315" src="https://www.youtube.com/embed/SPY90ByR7dA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
<h3>Exercises that May Help Improve Scoliosis</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/k9wph_-iKys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h3>Support + Resources</h3>
<p><a href="https://www.curvygirlsscoliosis.com/groups">Curvy Girls (Scoliosis Support Group)</a></p>
<p><a href="https://www.facebook.com/Scolipals/">Facebook Scoliosis Support Network</a></p>
<p><a href="https://scoliosis.supportgroups.com/">Scoliosis Support Group</a></p>
<p><a href="https://www.reddit.com/r/scoliosis/">Scoliosis Group on Reddit</a></p>
</div>


<style>
.parallax {
/* The image used */
background-image: url(https://renovatingconflict.ca/rc-wp/wp-content/uploads/808817-free-calm-water-wallpaper-1.jpg
);

/* Set a specific height */
height: 300px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
          <div class="text-left">
            <div class="body">
              <br>
              <h3 class="title">Contact us</h1>
              <p class="text">Olivia Kris: @oliiviakris; okfishy@gmail.com </p>
              <p class="text">Samantha Liu: @samiam896; samanthaliu19@gmail.com</p>
              <p class="text">Shannon Benyamin: @shannon.benyamin; shannonbenyamin@gmail.com</p>
              <br>
            </div>
          </div>
    </div> 
    <div class="col-sm">
        <div class="text-center">
          <div class="body">
            <br>
            <h3 class="title">Klossywood 2018</h1>
            <p class="text">A Kode with Klossy Web Application</p>
            <p class="text">#KODEWITHKLOSSY</p>
            <br>
          </div>
        </div>
    </div>
  </div>
</div>
  
  </body>
</html>







